{% extends 'htmx/base.html.twig' %}

{% block body %}


        <dialog
                open
                class="fixed inset-0 flex items-center justify-center p-0 m-0 bg-black/60 w-full h-full"
        >
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
                {{ form_start(form, {attr: {
                    'hx-post': path('posts.edit', {id: post.id}),
                    'hx-target': 'dialog',
                    'hx-select': 'dialog',
                    'hx-swap': 'outerHTML',
                    'hx-push-url': 'true',
                }}) }}
                {{ form_rest(form) }}
                <div class="mt-4 gap-2 flex justify-end">
                    <button
                            hx-get="{{ path('posts.index') }}"
                            hx-target="#main"
                            hx-swap="outerHTML"
                            type="reset"
                            class="bg-gray-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition duration-150 ease-in-out">
                        Annuler
                    </button>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition duration-150 ease-in-out">
                        Submit
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </dialog>

{% endblock %}
