<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>API Symfony</title>
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('app', { dependency: 'react'}) }}
        {% endblock %}
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
