<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js"></script>

    {% block stylesheets %}
        {{ vite_entry_link_tags('htmx') }}
    {% endblock %}
    {% block javascripts %}
        {{ vite_entry_script_tags('htmx') }}
    {% endblock %}
</head>
<body>
<div class="container mx-auto my-8 prose" data-signals-title="'Exemple d\'ergonomie basé sur datastar'">
    <h1 data-text="$title">Exemple d'ergonomie basé sur datastar</h1>
</div>
<main class="container my-8 mx-auto color-slate-900">
    {% block body %}{% endblock %}
</main>
<aside
       data-signals-flash.message="null"
       data-signals-flash.type="'success'"
       data-class="{
        'bg-green-600 hover:bg-green-700': $flash.type === 'success',
        'bg-red-600 hover:bg-red-700': $flash.type === 'danger'
       }"
       class="w-max text-white p-3 fixed top-4 right-4" data-show="$flash.message !== null">
    <span data-text="$flash.message"></span>
    <button data-on-click="$flash.message = null">Fermer</button>
</aside>
</body>
</html>
