{% extends 'datastar/base.html.twig' %}

{% block body %}

    <table class="min-w-full bg-white border border-gray-200 shadow-sm rounded-lg overflow-hidden">
        <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Titre</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
        {% for post in posts %}
            {% include 'datastar/row.html.twig' %}
        {% endfor %}
        </tbody>
    </table>

    {% include 'components/pagination.html.twig' with {
        route_name: 'posts.index',
    } %}
{% endblock %}
